h1,
h2,
h3,
h4,
h5 {
    color: rgb(255, 255, 255);
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0;
}

body {
    color: #7f8d9e;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.58;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #191b21;
    font-family: sans-serif;
    display: block;
    /* background */
    background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0.65) 0%, rgba(37, 37, 37, 0.65) 100%), url(https://bing.img.run/rand.php); /* The image used for background*/
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
    background-attachment: fixed;
    background-size: cover; /* Resize the background image to cover the entire container */
    
}

a {
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #3273dc;
}

.outer {
    text-align: center;
    margin: 0 auto;
}

.content {
    max-width: 1000px;
    min-height: 90vh;
    margin: 56px auto;
    padding-left: 20px;
    padding-right: 20px;
}

.block {
    text-align: center;
    background-color: #4b4b4b60;
    padding: 30px;
    backdrop-filter: blur(5px);
}

.info {
	text-align: center;
    padding: 30px;
}

.profile {
    margin-top: -50px;
}

.profile h1 {
    font-size: 1.6em;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 1em;
}

.profile .location {
    margin-top: 10px;
    font-size: 0.9em;
}

.profile .bio {
    color: white;
    margin-top: 10px;
    font-size: 0.9em;
}

.links {
    margin-top: 25px;
}

.links .contactbutton {
    background-color: #2d2f39;
    color: #7f8d9e;
    border: #7f8d9e 1px solid;
    cursor: pointer;
    justify-content: center;
    padding-bottom: 0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.75em;
    text-align: center;
    white-space: nowrap;
}

.links .contactbutton {
    color: white;
    border: white 1px solid;
}

.link {
    position: relative;
    margin-top: 30px;
    margin-left: 10px;
    text-align: left;
    padding: 20px;
    padding-left: 70px;
    display: block;
    font-size: 0.8em;
}

.link h2 {
    font-size: 0.9em;
    margin: 0px;
    line-height: 1em;
}

.link .image-float {
    position: absolute;
    width: 60px;
    height: 60px;
    left: -10px;
    margin-top: -12px;
}

.link .image-float .image img {
    width: 60px;
    height: 60px;
}

.link .arrow {
    position: absolute;
    height: 100%;
    right: 20px;
    top: 0px;
    padding-top: 28px;
}

.link > .arrow
.link > .image-float {
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
}

.link :hover .arrow {
    transform: translateY(-5%);
}

.link :hover .image-float {
    transform: translateY(-5%);
}

a.link {
    color: #7f8d9e;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

a.link:hover {
    color: #3273dc;
}

.beacon {
    position: absolute;
    -webkit-animation: beacon 2s ease infinite, tr 2s ease-out infinite;
    animation: beacon 2s ease infinite, tr 2s ease-out infinite;
    opacity: 0.85;
    width: 60px;
    height: 60px;
    border-radius: 3px;
}

@-webkit-keyframes beacon {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 0;
    }
}
@keyframes beacon {
    from {
        opacity: 0.85;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes tr {
    from {
        transform: scaleX(1) scaleY(1);
    }
    to {
        transform: scaleX(1.5) scaleY(1.5);
    }
}
@keyframes tr {
    from {
        transform: scaleX(1) scaleY(1);
    }
    to {
        transform: scaleX(1.5) scaleY(1.5);
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.belajar {
    background-color: blue;
    box-shadow: 8px 8px 14px -8px blue;
}

.youtube {
    background-color: red;
    box-shadow: 8px 8px 14px -8px red;
}

.instagram {
    background-color: #c13584;
    box-shadow: 8px 8px 14px -8px #c13584;
}

.anonymous {
    background-color: #ffffff;
    box-shadow: 8px 8px 14px -8px #ffffff;
}

.LinkedIn {
    background-color: #1da1f2;
    box-shadow: 8px 8px 14px -8px #1da1f2;
}

.facebook {
    background-color: #1da1f2;
    box-shadow: 8px 8px 14px -8px #1da1f2;
}

.twitter {
    background-color: #1da1f2;
    box-shadow: 8px 8px 14px -8px #1da1f2;
}

.Github {
    background-color: #2b3137;
    box-shadow: 8px 8px 14px -8px #2b3137;
}

.sendmsg {
    text-align: center;
    background-color: #48524d57;
    padding: 30px;
    margin-top: 25px;
}

@keyframes shake-slow {
    2%, 4%, 6%, 8%, 10%, 12%, 14%, 16%, 18%, 20%, 
    22%, 24%, 26%, 28%, 30%, 32%, 34%, 36%, 38%, 40%, 
    42%, 44%, 46%, 48%, 50%, 52%, 54%, 56%, 58%, 60%, 
    62%, 64%, 66%, 68%, 70%, 72%, 74%, 76%, 78%, 80%, 
    82%, 84%, 86%, 88%, 90%, 92%, 94%, 96%, 98%, 100% {
      transform: translate(0, 0);
    }
  
    2% { transform: translate(3px, -1px); }
    4% { transform: translate(2px, 4px); }
    6% { transform: translate(3px, -1px); }
    8% { transform: translate(2px, -1px); }
    10% { transform: translate(-3px, 4px); }
    12% { transform: translate(-2px, 2px); }
    14% { transform: translate(2px, 5px); }
    16% { transform: translate(0px, 2px); }
    18% { transform: translate(-1px, -3px); }
    20% { transform: translate(3px, -4px); }
    22% { transform: translate(1px, -2px); }
    24% { transform: translate(-4px, 3px); }
    26% { transform: translate(4px, -1px); }
    28% { transform: translate(1px, -2px); }
    30% { transform: translate(4px, -3px); }
    32% { transform: translate(4px, -3px); }
    34% { transform: translate(-2px, 1px); }
    36% { transform: translate(0px, -3px); }
    38% { transform: translate(1px, 2px); }
    40% { transform: translate(3px, 1px); }
    42% { transform: translate(1px, -2px); }
    44% { transform: translate(5px, -2px); }
    46% { transform: translate(-1px, 1px); }
    48% { transform: translate(2px, 2px); }
    50% { transform: translate(4px, 0px); }
    52% { transform: translate(3px, 2px); }
    54% { transform: translate(5px, 4px); }
    56% { transform: translate(-2px, 0px); }
    58% { transform: translate(0px, -1px); }
    60% { transform: translate(3px, 5px); }
    62% { transform: translate(-4px, 4px); }
    64% { transform: translate(-3px, 5px); }
    66% { transform: translate(4px, 0px); }
    68% { transform: translate(2px, 3px); }
    70% { transform: translate(-1px, -4px); }
    72% { transform: translate(-3px, 1px); }
    74% { transform: translate(-1px, 5px); }
    76% { transform: translate(1px, 4px); }
    78% { transform: translate(3px, -1px); }
    80% { transform: translate(3px, 4px); }
    82% { transform: translate(5px, 4px); }
    84% { transform: translate(-2px, -1px); }
    86% { transform: translate(1px, 4px); }
    88% { transform: translate(-3px, -4px); }
    90% { transform: translate(2px, 4px); }
    92% { transform: translate(0px, -1px); }
    94% { transform: translate(-4px, -1px); }
    96% { transform: translate(-2px, 4px); }
    98% { transform: translate(2px, 4px); }
  }
  .shake-slow {
    animation: shake-slow 5s infinite ease-in-out;
  }
  @keyframes rl-slow {
    0%, 100% {
      transform: translate(0, 0) rotate(0);
    }
    2%, 10%, 18%, 26%, 34%, 42%{
      transform: translate(-5px, 0) rotate(0);
    }
    50%{
      transform: translate(0, 0);
    } /* Pause */
     8%, 16%, 24%, 32%, 40%, 48%{
      transform: translate(5px, 0) rotate(0);
    }
  }
  
  .rl-slow {
    animation: rl-slow 3s infinite ease-in-out;
  }
  
  
  
  